    <footer>JP Rookie Developer &copy; 2024</footer>
  </body>
  <!-- Script that renders my icons from FontAwesome.com -->
  <script src="https://kit.fontawesome.com/c74386571e.js" crossorigin="anonymous"></script>
</html>