<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication</title>
  <link rel="stylesheet" href="/css/main.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
</head>
<body>
    <!-- Put links that you want to display at all times
         outside of the if/else 
    -->
      <% if (user) { %>
        <div class="nav">
          <nav class="navbar">
              <ul class="navList">
                  <li class="navItem"><a class="navLink" href="/songs">All Songs</a></li>
                  <li class="navItem"><a class="navLink" href="/songs/new">Queue a Song</a></li>
              </ul>
          </nav>
      </div>
        <h2>Welcome, <%= user.name %></h2>
      <% } else { %>
        <div class="nav">
          <nav class="navbar">
              <ul class="navList">
                  <li class="navItem"><a class="navLink" href="/auth/sign-up">Sign Up</a></li>
                  <li class="navItem"><a class="navLink" href="/auth/login">Log In</a></li>
              </ul>
          </nav>
        </div>
      <% } %>

