<%- include('./partials/header.ejs') %>

<div class="card animate__animated animate__flipInY">
    <h1>Welcome to Juke.ly!</h1>
    <p style="text-align: center;">Submit your favorite songs to the queue!</p>
    <a class="getStarted" href="/songs"><button>Get Started!</button></a>
</div>

<%- include('./partials/footer.ejs') %>